html {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

iframe {
  background-color: white;
}

nav {
  height: 25vh;
}

a {
  color: #000;
}

hr {
  border-top: 1px solid #606060;
}

.landingPage {
  height: 70vh;
  width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingPage img {
  margin-top: 4vh;
  width: 9vw;
  margin-left: 5vw;
}

.titulo h1 {
  font-weight: 600;
  font-size: 5.5rem;
  text-align: left;
  margin-left: 5vw;
  color: #000;
}

.titulos {
  font-size: 4rem;
  font-weight: 600;
  margin-left: 5vw;
  color: #000;
  margin-top: 4vh;
}

.subtitulo {
  color: #606060;
  text-align: left;
  margin-left: 5vw;
  font-weight: lighter;
}

.redes {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.redes a {
  margin: 0 6px 0 6px;
}

.sobremi {
  width: 100%;
  margin-right: 2vw;
  margin-top: 10vh;
  color: #000;
}

.sobremi p {
  color: #606060;
  margin-bottom: 5vh;
  padding-top: 1vh;
  margin-left: 3vw;
}

.trabajos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10vh;
  margin-left: 5vw;
  margin-top: 5vh;
}

.trabajo {
  width: 100%;
  padding-bottom: 5vw;
}

.trabajo p {
  color: #606060;
}

.tituloTrabajos {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}

.descripcion {
  font-size: 1.5rem;
  color: #000;
}

.imagen img {
  width: 85vw;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sobremiTitulo {
  font-size: 3rem;
  font-weight: 600;
  margin-left: 2vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
  color: #000;
}

.item {
  font-size: 1.4rem;
  margin-left: 2vw;
}

.item a {
  color: #000;
}

.linkFinal {
  font-size: 2rem;
  margin-left: 5vw;
}

@media only screen and (min-width: 998px) {
  .landingPage {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20vh;
  }
  .landingPage img {
    width: 2vw;
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .trabajos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  .imagen img {
    width: 60vw;
  }
  .sobremiTitulo {
    font-size: 3rem;
    font-weight: 600;
    margin-left: 2vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    -webkit-text-decoration: dotted 1px #000;
            text-decoration: dotted 1px #000;
    font-size: 4.5rem;
    font-weight: 600;
    margin-left: 2vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-decoration: dotted 1px #000;
  }
  .item {
    font-size: 1.4rem;
    margin-left: 2vw;
    font-size: 2.4rem;
    margin-left: 2vw;
  }
  .item a {
    color: #000;
  }
  .trabajo a {
    border-bottom: solid 7px bottom;
    font-size: 2rem;
    color: #000;
  }
  p {
    font-size: 1.4rem;
  }
  .descripcion {
    font-size: 2rem;
  }
  .tituloTrabajos {
    font-size: 3.65rem;
  }
  .titulo {
    width: 70vw;
    font-size: 7rem;
    margin-left: 12vw;
  }
  .subtitulo {
    font-size: 2.3rem;
    margin: 20vh 15vw 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .imagen img {
    width: 60vw;
  }
  .imagen .sobremi {
    width: 50vw;
  }
  .imagen .sobremi p {
    width: 50%;
  }
  .imagen nav {
    height: 0vh;
  }
}
/*# sourceMappingURL=index.css.map */